Repository tinymins/vue-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit, npm run stylelint:commit

build: add vue to resolve ext
  .eslintrc.js
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit

build: fix dev server configure
  package-lock.json
  webpack.config.js
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit

build: fix stylelint sass/scss vscode error report
  .lintstagedrc
  .stylelintrc.js
  .vscode/settings.json
  package-lock.json
  package.json
  src/shims-styles.d.ts
  webpack/loaders.js
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit

fix: lint errors after bump lint package
  .stylelintrc.js
  package.json
  src/components/x-loading/index.module.scss
  src/styles/utils/math.scss
  src/styles/utils/px2rem.scss
  src/views/common/header/index.module.scss
  src/views/common/static/components/picker-handler/picker-tags/index.module.scss
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit, npm run stylelint:commit

build: optimize webpack configure
  webpack.config.js
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit

build: remove useless HMR plugin
  webpack.config.js
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit

build: bump browserslist to latest version
  package-lock.json
Due: npm run setup, npm run gitlint, npm run eslint:commit

build: bump eslint and remove outdated webpack plugins
  package-lock.json
  package.json
  src/components/popup/index.tsx
  src/services/create-api/http.ts
  src/utils/navigation.ts
  src/views/common/footer/index.tsx
  src/views/common/static/components/toast-handler/index.tsx
  webpack.config.js
  webpack/loaders.js
  webpack/runner.js
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit

feat: move top level entry to main function
  src/entry/client.ts
  webpack/runner.js
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit

feat: move backend api configure to api file
  src/config/index.ts
  src/services/api/api.ts
  src/services/create-api/index.ts
  src/utils/authorization.ts
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit

feat: add action type default value
  src/store/actions.ts
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit

fix: eslint errors
  src/router/index.ts
  src/services/create-api/index.ts
  src/utils/environment.ts
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit

build: remove image-webpack-loader
  package-lock.json
  package.json
  webpack/loaders.js
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit

build: bump cssnano to latest version
  package-lock.json
  package.json
Due: npm run setup, npm run gitlint, npm run eslint:commit

fix: port env value
  webpack/env.js
Due: npm run setup, npm run gitlint, npm run eslint:commit, npm run tslint:commit

Path conditions:
  npm run setup: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,tx})) or (any of: *.{scss,less,css})) or (any of: *.vue)
  npm run gitlint: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,tx})) or (any of: *.{scss,less,css})) or (any of: *.vue)) or (any of: *)
  npm run eslint:commit: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,tx})) or (any of: *.vue)
  npm run tslint:commit: any of: *.{js,jsx,ts,tsx}
  npm run stylelint:commit: (any of: *.{scss,less,css}) or (any of: *.vue)
